.btn-icon-src {
  background-color: #00285f;
  border-radius: 0px 5px 5px 0px;
  width: 77px;
  height: 40px;
}

.input-content {
  width: 199px;
  font-size: 14px;
}

.btn-icon-src h6 {
  color: #fff;
  font-size: 14px;
}

@media (min-width: 576px) {
  .btn-icon-src {
    width: 174px;
  }
}
