.home-container {
  padding: 20px 10px;
  text-align: center;
  font-size: 14px;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  background-color: #00285f;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 21px;
}

.home-content-container {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 22px 13px 22px;
}

.home-content-container h1 {
  width: 260px;
  font-size: 22px;
  margin-bottom: 1px;
}

.home-content-container p {
  width: 260px;
  font-size: 14px;
  margin-bottom: 36px;
}

.home-image-container {
  padding: 60px 28px 0px;
}

.home-image-container svg {
  width: 244px;
  height: auto;
}

.bottom-container {
  background-color: #ededed;
  height: 123px;
  border-radius: 5px;
  align-items: center;
  padding: 28px 0px;
}

.text-button p {
  padding-top: 9px;
  margin-bottom: 25px;
  font-size: 18px;
  color: #585858;
}

@media (min-width: 576px) {
  .home-container {
    padding: 30px 20px;
    text-align: center;
  }
  .home-image-container {
    padding: 22px 102px 19px;
  }

  .home-content-container h1 {
    width: 460px;
    font-size: 36px;
    margin-bottom: 1px;
  }

  .home-content-container p {
    width: 360px;
    font-size: 18px;
    margin-bottom: 22px;
  }

  .bottom-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 45px;
  }

  .text-button p {
    margin-top: 13px;
    font-size: 18px;
    padding-left: 12px;
  }
}

@media (min-width: 768px) {
  .home-image-container {
    padding: 75px 198px;
  }

  .home-image-container svg {
    width: 333px;
    height: 199px;
  }

  .home-image-container {
    padding: 79px 198px 35px 198px;
  }

  .home-content-container {
    margin-bottom: 76px;
  }

  .bottom-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 85px;
  }
  .home-content-container p {
    width: 380px;
    font-size: 18px;
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .home-image-container {
    padding: 86px 249px;
  }

  .home-content-container {
    margin-bottom: 120px;
  }

  .home-image-container {
    padding: 82px 0px 0px 0px;
  }

  .home-image-container svg {
    width: 506px;
  }

  .home-content-container p {
    width: 380px;
    font-size: 18px;
    margin-bottom: 0px;
  }

  .home-content-container {
    margin-bottom: 120px;
  }

  .bottom-container {
    padding-left: 85px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    padding: 30px 150px 255px;
  }
  .home-card {
    flex-direction: row;
    justify-content: space-around;
    padding: calc(((70vh - 480px) / 2) - 20px) 0;
  }

  .home-content-container {
    margin-top: 144px;
    display: flex;
    padding: 0px 10px 0px 20px;
    align-items: flex-start;
    text-align: left;
    align-content: space-between;
    flex-direction: column;
  }

  .home-image-container {
    display: flex;
    align-items: center;
    padding: 10px 10px;
  }

  .home-image-container svg {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .home-image-container svg {
   height: 380px;
   width: 400px;
  }
  .home-content-container {
    margin: 144px 0px 0px 100px;
    display: flex;
    padding: 0px 10px 0px 20px;
    align-items: flex-start;
    text-align: left;
    align-content: space-between;
    flex-direction: column;
  }

  .home-content-container h1 {
    width: 450px;
    font-size: 35px;  
  }
}
